/*  */
.bodyFoot{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    color:#84716B;
    background: #D7D4C8;
    width: 100%;
    height: auto;
    text-align: left;
}
.backF{
    background:#D7D4C8;
    width: 100%;
    height: 220px;
    /* border-top: 0.5px solid #563530; */
    border-top-width: 80% 0.5px solid #84716B;
}
.navFoot{
    margin: 80px 170px;
    display: grid;
    position: absolute;
}
.buttonF{
    display: block;
    float: left;
    background: none;
    border:none;
    padding: 0 7px;
    color:#563530;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: 20px;
    text-decoration: none;
}
.pA2{
    font-weight: lighter;
   
    margin-top: -0px;
    font-size: 20px;
    height: auto;
    padding: 0 5px;
    cursor: pointer;
}
  .pA2:hover{
    color: #56353075;

}
.footF{
    text-align: center;
    color: #563530;
    /* font-family:  'Open Sans Condensed', sans-serif; */
    font-weight: lighter;
    display: block;
    margin: auto;
    margin-top: -20px;
    margin-bottom: 5%;

}
.logoF{
    display: grid;
    width: 10%;
    text-align: center;
    position: relative;
    float: left;
    margin: 50px 150px;
    /* margin-left: 90% */
}
.fa-facebook-f{
    position: relative;
    display: grid;
    float: left;
    cursor: pointer;
    color: #84716B;
    text-decoration: none;
    font-weight: lighter;
}
.fa-facebook-f:hover{
    color:#56353075;
}
.fa-instagram{
    position: relative;
    display: grid;
    float: left;
    cursor: pointer;
    color: #84716B;
    text-decoration: none;
    font-weight: lighter;
}
.fa-instagram:hover{
    color: #56353075;
}
.btnF{
    position: relative;
    display: flex;
    float: right;
    background: none;
    outline: none;
    border:none;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
    margin-right: -570px;
}
.btnI{
    position: relative;
    display: grid;
    float: right;
    background: none;
    outline: none;
    border:none;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 40px;
    margin-top: 50px;
    margin-right: -610px;
}
.follow{
    width: 50px;
    height: 20px;
    margin: 20px 150px;
    display: grid;
    float: right;
    color: #84716B;
    /* font-family:  'Open Sans Condensed', sans-serif; */
}
.info{
    width: 50px;
    height: 20px;
    margin-top: 20px;
    margin-right: 260px;
    display: grid;
    float: right;
    color: #84716B;
    /* font-family:  'Open Sans Condensed', sans-serif; */
}
.infoDiv{
    margin-right: -120px;
    margin-top: 45px;
    display: grid;
    float: right;
    color: #84716B;
    /* font-family:  'Open Sans Condensed', sans-serif; */
    font-size: 20px;
}
.infoWa{
    text-decoration: none;
    color: #84716B;
}
.infoWa:hover{
    color: #56353075;
}
.fa-whatsapp{
    text-decoration: none;
    cursor: pointer;
    color: #84716B;
    text-decoration: none;
    font-weight: lighter;
}
.fa-whatsapp:hover{
    color: #56353075;
}
.num{
    margin-top: -15%;
    margin-left: 15%;
    margin-bottom: 0%;
}
.num1{
    display:none;
}
@media screen and (max-width:740px){
.navFoot{
    display: none;
}
.logoF{
    display: none;
}
.follow{
    display: none;
}

.info{
    margin-top: 0px;
    margin-right: 0px;
    display:none;
}
.infoDiv{
    text-align: center;
    margin-right: 40%;
    margin-top: -0%;
    margin-bottom: 1%;
    /* display: grid;
    float: right; */
    color: #84716B;
    /* font-family:  'Open Sans Condensed', sans-serif; */
    font-size: 20px;
}
.num{
    display:none;
}
.num1{
    font-size: 5vw;
}
.infoWa{
    /* margin-left: 30%; */
    font-size: 15vw;
    text-decoration: none;
    color: #84716B;
}
.btnF{
    display: flex;
    float: left;
    margin-top: 40%;
    margin-left:80%;
    background: #84716B;
    border-radius: 100%;
    text-align: center;
    text-decoration: none;
    
}
.fa-facebook-f{
    margin-left: 100%;
    float: none;
    cursor: pointer;
    color: #D7D4C8;
    text-decoration: none;
    font-weight: lighter;
}
.btnI{
    display: flex;
    float: left;
    margin-left:80%;
    margin-top: 60%;
    background: #84716B;
    border-radius: 100%;
    text-align: center;
    text-decoration: none;
}
.fa-instagram{
    margin-left: 20%;
    float: none;
    cursor: pointer;
    color: #D7D4C8;
    text-decoration: none;
    font-weight: lighter;
}
a{
    text-decoration: none;
}
}