.separador{
    width: 100%;
    margin: 0;
    /* border-bottom: 1px dashed #56353075; */
    margin-top: 5%;
    margin-bottom: 5%;
    background:   rgb(190, 188, 188);
}
.intro{
    width: 50%;
    margin: auto;
    margin-top: 0%;
    text-align: center;
    padding: 5%;
    font-size:20px;
    font-weight: bold;
   
}
.medio{
    width: 50%;
    text-align: justify ;
    font-size: 20px;
    margin-bottom: 5%;
}