

.titulo{
    color:rgb(233, 233, 233);
    font-size: 30px;
    width: 100%;
    height: 50px;
    margin-top: -400px;
    font-family: 'Allerta Stencil', sans-serif;
}
.portadaT{
    height: 600px;
    background: rgba(0, 0, 0, 0.281);
    width: 100%;

}
.spaceT{
    position: relative;
    display: grid;
    margin-top: 4%;
    width: 91%;
    height: 100%;
    background:#D7D4C8;
    align-items: center;
    padding: 1% 4.5%;
    
}
/* .navT{
    background: none;
    height: 50px;
} */
.logoMin{
    float: left;
    width: 130px;
    margin: -30px 10px;
}
@media screen and (max-width:740px) {
    .spaceT{
        /* position: relative; */
        display: block;
        margin-top: 10%;
        width: 100%;
        height: auto;
        background:#D7D4C8;
        align-items: center;
        padding: 0%;
        box-sizing: border-box;
        
    }  
}