body{
  height: 100%;
}
.navBar{
  position: fixed;
  display: flex;
  float: left;
  width: 100%;
  top: 0%;
  height: 60px;
  background: #D7D4C8;
  z-index: 2;
  border-bottom:1px solid #b6a68e;
  
}

.wellcome2{
  background: rgba(0, 0, 0, 0.281);
  height: 752px;
}

.button1{
  display: inline-flex;
  float: left;
  background: none;
  border:none;
  border-left: 0.5px solid #84716B;
  padding: 7px;
  color: #84716B;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 25px;
  cursor: pointer;
  text-decoration: none;
  margin-top:20px;
}


.button2{
  display: inline-flex;
  float: left;
  background: none;
  border:none;
  padding: 7px;
  color:rgb(233, 233, 233);
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: lighter;
  font-size: 25px;
  text-decoration: none;
  margin-top: 10px;
  margin-left: -15px;
}
.button3{
  display: flex;
  position: relative;
  float: right;
  background: none;
  border:none;
  border-left: 0.5px solid #84716B;
  padding: 7px;
  color: #84716B;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 25px;
  cursor: pointer;
  text-decoration: none;
  margin-top:20px;
  margin-left: 53%;
  text-align: right;
}

.nav1{
  position: relative;
  display: flex;
  float: left;
  margin-bottom: 0;
  margin-left: 1%;
  height: 40px;
 
}
.pA{
  margin-top: -20px;
  font-size: 30px;
  height: 40px;
  padding: 0 5px;
}
.pA:hover{
  /* background: rgb(228, 147, 85); */
  color:  #56353075;
}
.pa{
  margin-top: -20px;
  margin-left: 30px;
  font-size: 30px;
  height: 40px;
  padding: 0 15px;
  text-align: right;
}
.pa:hover{
  color:  #56353075;
}
.logo{
  margin: 1%;
  margin-left: 10px;
  width: 150px;
  border: none;
  border-right: 1px solid rgb(42, 81, 117);
  color: rgb(42, 81, 117) ;
  padding: 5px; 
}
.home{
  float: left;
  width: 130px;
  margin: 0px 10px;
}
.shopCard{
  display: flex;
  float: right;
  width: 30px;
  margin: 15px 0;
  margin-left: -100px;
  margin-right: 20px;
  margin-top: 5px;
}


.taller{
  display: block;
  float: right;
  margin:auto;
  margin-right: 42%;
  margin-top: -5%;
  font-family: 'Courier New', Courier, monospace;
  color: #D7D4C8;
  font-size: 50px;
}


::-webkit-scrollbar {
  width: 3px;
  border-radius:5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #D6AE92; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #A07662; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:#735249; 
}
